body {
    background: #234;
    color:#9AB;
    font-family:georgia;
    font-size: 13px;
    margin: 40px;
}
a {
    color:#89A;
    font-weight:bold;
    text-decoration:none
}
a:hover {
    color:#DEF
}

.thumbnail{
    width: 64px;
    height: 64px;
}